<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	<h1>Welcome to Lega Serie A</h1>
	
	<hr>
	<button>New Championship</button>
	<ul>
		<li><a href="/match/?idMatch=Serie A maschile">Serie A maschile</a></li>
		<li><a href="/game/?idMatch=Serie A femminile">Serie A femminile</a></li>
	</ul>
	
	<hr>
	<div>
		<form action="/newChampionship" method="post">
			<h3>Modale New Championship</h3>
			<button type="submit">Insert a new Championship</button>
		</form>
	</div>


</body>
</html>